/* navbar CSS */
#search {
  max-width: 30%;
  height: 80%;
}

/* aside CSS */
aside {
  position: fixed;
  top: 67px;
  left: 0;
  width: 70px;
  height: 100vh;
  padding: 20px 10px;
  border-right: 1px solid #dee2e6;
}

.side-btn {
  width: 50px;
  height: 90px;
  padding: 0px;
  margin-bottom: 5px;
  align-items: center;
}

.icon {
  width: 40px;
  height: 40px;
}

/* 영상 목록 CSS */
main {
  margin-left: 70px;
  margin-top: 70px;
}
