/* 영상 정보 CSS */
#author-name {
  font-size: 1.05rem;
  font-weight: 500;
}

#recommend-bg {
  width: 162px !important;
  background-color: rgb(238, 238, 238);
}

#up-btn,
#down-btn {
  background-color: rgb(238, 238, 238);
}

#up-btn:hover,
#down-btn:hover {
  background-color: rgb(177, 177, 177);
}

/* 댓글 CSS */
#comment-cnt {
  border-top: 1px solid lightgray;
}

#info-section {
  padding: 5px 20px;
}

#info-container {
  border-radius: 5px;
  background-color: #f2f2f2;
}

.comment-container {
  border-bottom: 0.5px solid lightgray;
  position: relative;
}

.info-text1 {
  font-size: 0.9rem;
  font-weight: bold;
}

#info-text2 {
  font-size: 0.8rem;
}

#comment-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
}
.reset-btn {
  background-color: rgb(185, 185, 185);
}

.submit-btn {
  background-color: #7fb0f1;
}
.reset-btn:hover {
  background-color: rgb(107, 107, 107);
  color: white;
}

.submit-btn:hover {
  background-color: rgb(185, 185, 185);
  background-color: #0556bf;
  color: white;
}

.delete-btn {
  border: none;
  background-color: white;
  position: absolute;
  top: -20%;
  right: 0;
}

/* 우측 영상 리스트 CSS */
.right-section {
  border-left: 1px solid lightgray;
  overflow: scroll;
}
.side-list-container {
  border-bottom: 1px solid lightgray;
}

.side-list-container:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.3s ease;
  border: 1px solid lightslategray;
}

.side-title {
  font-size: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* 최대 2줄 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.side-text {
  font-size: 0.7rem;
}

#mdsm-side-list {
}
