/* 영상 목록 CSS */
section {
  margin-top: 20px;
}

.notFound img {
  max-width: 80%;
  height: auto;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.notFound h4 {
  font-weight: bold;
  margin-bottom: 1rem;
}

.notFound p {
  font-size: 0.9rem;
}
